-  What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

- Explain the difference between mutable and immutable data types with examples.
- Mutable means changeable
- Immutable means unchangeable
exam:-

In [ ]:
# Mutable exam:-
list = ["apple","orange","carrot"]

In [ ]:
 list.append("mango")

In [ ]:
print(list)

['apple', 'orange', 'carrot', 'mango']

In [ ]:
# Immutable exam:-
Tuple = ("apple","orange","carrot")

In [ ]:
Tuple.append("mango")

AttributeError: 'tuple' object has no attribute 'append'

- What are the main differences between lists and tuples in Python?
- List:  Mutable → You can change, add, or remove elements after creation.

- Tuple:  Immutable → Once created, elements cannot be changed.

- Describe how dictionaries store data.
- The dictionaries store data in Key-value format and curley braces  uses to creat a dictionary {}.
-  example:- dic = {"name":"ajay","age":25,"location":"delhi"}

- Why might you use a set instead of a list in Python?
- Set automatically removes duplicates.
- List allows duplicates.
- When you need unique items only, a set makes intent clear, instead of manually removing duplicates from a list.

- What is a string in Python, and how is it different from a list?
- A string is a sequence of characters enclosed in quotes (' ', " ", or ''' ''').and **immutable**
- A list is a list of any things like it can be string,integers,float,objects etc. and enclosed in [] closed brackets and ** mutable**

- How do tuples ensure data integrity in Python?
- Once a tuple is created, its elements cannot be changed, added, or removed.
- This means data stored in a tuple remains constant throughout the program, ensuring integrity.

-  What is a hash table, and how does it relate to dictionaries in  Python?
- A hash table is a data structure that stores key–value pairs for fast lookups.
-  A dictionary is Python’s implementation of a hash table.

-  When you store data in a dictionary:

-  The key is passed through a hash function.

-  The hash function produces a hash value.

-  That value maps to an index (bucket) in the hash table.

-  The value is stored in that bucket, associated with the key.

- Can lists contain different data types in Python?
- yes we can mix string,integer,float,boolean,other lists, dictionaries, or even custom objects in the same list.

In [ ]:
my_list = [10, 3.14, "Hello", True, [1, 2, 3], {"name": "Alice"}]

print(my_list)

[10, 3.14, 'Hello', True, [1, 2, 3], {'name': 'Alice'}]

-  Explain why strings are immutable in Python.
-  Strings in Python are immutable to ensure memory efficiency, safe dictionary/set usage, thread-safety, and predictable behavior.

-  What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists when you need:
-  Fast lookups/searching
-   Key-based access instead of index-based

-  Unique identifiers for values

-   Structured or sparse data representation

- Describe a scenario where using a tuple would be preferable over a list.
- If you want to make sure your data stays constant throughout the program, a tuple is better option because of its nature is immutable.
where as list is Mutable.

In [ ]:
coordinates = (28.6139, 77.2090)  # Latitude & Longitude of Delhi
coordinates[0]= 30.162

TypeError: 'tuple' object does not support item assignment

- How do sets handle duplicate values in Python?
- In Python, a set is an unordered collection of unique elements.
- If you try to add a duplicate value to a set, Python automatically ignores it.
- The set will only keep one copy of that value.

In [ ]:
numbers = {1, 2, 3, 3, 4, 2}
print(numbers)

{1, 2, 3, 4}

- How does the “in” keyword work differently for lists and dictionaries?
- the in keyword behaves a bit differently depending on the data structure.
-** For Lists**
- The in keyword checks if a value exists inside the list.
- It goes through elements one by one (linear search, O(n)).

In [ ]:
fruits = ["apple", "banana", "mango"]

print("apple" in fruits)
print("grape" in fruits)

True
False

- For Dictionaries
- The in keyword only checks keys by default, not values.
- Lookup is very fast (O(1) on average, because dictionaries use hash tables).

In [ ]:
student = {"name": "nehra", "age": 21, "city": "Delhi"}

print("name" in student)
print("Alice" in student)

True
False

- Can you modify the elements of a tuple? Explain why or why not?
- No we cannot modify the elements of a tuple because tuple is immutable.
- example:-

In [ ]:
fruits_list = ("apple","orange","grapes")
fruits_list.append("mango")

AttributeError: 'tuple' object has no attribute 'append'

- What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is simply a dictionary inside another dictionary.
- The outer dictionary contains keys that map to inner dictionaries.
- This allows you to represent hierarchical or structured data.
exaple:-
- students = {
    "101": {"name": "Alice", "age": 21, "course": "Math"},
    "102": {"name": "Bob", "age": 22, "course": "Physics"},
    "103": {"name": "Charlie", "age": 20, "course": "Computer Science"}
}

print(students["102"]["name"])    Output: Bob
print(students["103"]["course"])  Output: Computer Science

-  Describe the time complexity of accessing elements in a dictionary.
- Time complexity is a way to describe how the runtime of an algorithm grows as the size of the input (n) increases.
example:- student = {"id": 101, "name": "Alice", "course": "Math"}

print(student["name"])    O(1) average case

-  In what situations are lists preferred over dictionaries.
- list is preferable over dictionaries in these following things.
- The order of elements matters
- You just need a collection of values (no labels)
- You want to allow duplicates
- You need to access elements by index
- The dataset is simple or sequential

- Why are dictionaries considered unordered, and how does that affect data retrieval?
- Traditionally, a dictionary in Python is implemented as a hash table.
Keys are stored based on their hash values, not their insertion sequence.
- Retrieval is by key, not position
- You don’t do dict[0] like a list.
- You must know the key.
- student = {"name": "sangeeta", "age": 21, "city": "Delhi"}
- print(student["age"])    works
- print(student[0])      Error
- Duplicates are disallowed
- If you insert the same key again, the previous value gets replaced, not reordered.
- d = {"a": 1, "b": 2, "a": 3}
- print(d)  # {'a': 3, 'b': 2}

- Explain the difference between a list and a dictionary in terms of data retrieval.
- Duplicates are disallowed
- If you insert the same key again, the previous value gets replaced, not reordered.
- d = {"a": 1, "b": 2, "a": 3}
- print(d) # {'a': 3, 'b': 2}
- in list Duplicates are allowed
- list = [2,3,2,3,4,6]
- print(list)= [2,3,2,3,4,6]

# **Practical** **Questions**

-  Write a code to create a string with your name and print it.

In [ ]:
string=input("My name is",)
print(string)

My name ispatwal
patwal

- Write a code to find the length of the string "Hello World".

In [ ]:
string = "hello world"

In [ ]:
len(string)

11

- Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"

In [ ]:
string[:3]

'Pyt'

In [ ]:
Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"

In [ ]:
string.upper()

'HELLO'

- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"

In [ ]:
string.replace("apple","orange")

'I like orange'

- Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
create_list = list(range(1,6))

In [ ]:
print(create_list)

[1, 2, 3, 4, 5]

- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list = [1,2,3,4]

In [ ]:
list.append(10)

In [ ]:
print(list)

[1, 2, 3, 4, 10]

- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1, 2, 3, 4, 5]

In [ ]:
list.remove(3)

In [ ]:
print(list)

[1, 2, 4, 5]

- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
element = ['a', 'b', 'c', 'd']

In [ ]:
element[1]

'b'

- Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]

In [ ]:
list.reverse()

In [ ]:
print(list)

[50, 40, 30, 20, 10]

-  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
numbers = (100,200,300)

In [ ]:
print(numbers)

(100, 200, 300)

-  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple = ('red', 'green', 'blue', 'yellow')

In [ ]:
tuple[2]

'blue'

-  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple = (10, 20, 5, 15)

In [ ]:
min(tuple)

5

- . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')

In [ ]:
tuple.index("cat")

1

-  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("kiwi","apple","mango")

In [ ]:
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

-  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {'a','b','c'}

In [ ]:
print(set)

{'b', 'c', 'a'}

-  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1, 2, 3, 4, 5}

In [ ]:
set.clear()

In [ ]:
print(set)

set()

- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}

In [ ]:
set.remove(4)

In [ ]:
print(set)

{1, 2, 3}

- . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

In [ ]:
union_set = set1.union(set2)

In [ ]:
print(union_set)

{1, 2, 3, 4, 5}

-  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}

In [ ]:
new_set = set1.intersection(set2)

In [ ]:
print(new_set)

{2, 3}

- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dictionary = {"name" :"patwal","age" : 30,"city" :"delhi"}

In [ ]:
print(dictionary)

{'name': 'patwal', 'age': 30, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}

In [ ]:

person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]

numbers.sort()

print("Sorted list:", numbers)

Sorted list: [13, 48, 61, 64, 88]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:

fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']

print("Element at third index:", fruits[3])

Element at third index: mango

In [ ]:
29. Write a code to combine two dictionaries into one and print the result.

In [ ]:

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [ ]:
30. Write a code to convert a list of strings into a set.

In [ ]:

fruits = ['apple', 'banana', 'cherry', 'apple', 'banana']

fruits_set = set(fruits)

print("Set:", fruits_set)

Set: {'cherry', 'banana', 'apple'}